@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body-md text-on-surface bg-background overflow-x-hidden;
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    display: inline-block;
    vertical-align: middle;
  }
  .material-symbols-outlined.fill {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

.sidebar-item-active {
  background-color: #fed65b;
  color: #241a00;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}
